<ul class="space-y-1">
  <li>
    <a
      href="/"
      class="block rounded-lg text-black hover:bg-white px-4 py-2 text-sm font-medium"
    >
      Beranda
    </a>
  </li>

  <li>
    <a
      href="/pesawat"
      class="block rounded-lg px-4 py-2 text-sm font-medium text-black hover:bg-gray-100 hover:text-gray-700"
    >
      Pesawat
    </a>
  </li>

  <li>
    <a
      href="/maskapai"
      class="block rounded-lg px-4 py-2 text-sm font-medium text-black hover:bg-gray-100 hover:text-gray-700"
    >
      Maskapai
    </a>
  </li>

  <li>
    <a
      href="/pilot"
      class="block rounded-lg px-4 py-2 text-sm font-medium text-black hover:bg-gray-100 hover:text-gray-700"
    >
      Pilot
    </a>
  </li>
</ul>
